<a href="https://colab.research.google.com/github/Snehansusekhar/python1/blob/main/whileloop_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1. Write a program to print the following using while loop
#a. First 10 Even numbers
#b. First 10 Odd numbers
#c. First 10 Natural numbers
#d. First 10 Whole numbers


#a.
num=2
while num<=20:
  print(num)
  num=num+2
  

#b.
num=1
while num<=20:
  print(num)
  num=num+2
  

#c.
num=1
while num<=10:
  print(num)
  num=num+1
  

#d.
num=1
while num<=10:
  print(num)
  num=num+1

2
4
6
8
10
12
14
16
18
20
1
3
5
7
9
11
13
15
17
19
1
2
3
4
5
6
7
8
9
10
1
2
3
4
5
6
7
8
9
10

In [ ]:
'''Q2. Write a program to print first 10 integers and their squares using while loop.
1 1
2 4
3 9 and so on'''

num=1
print("numbers\tsquares")
while num<=10:
  print(num,"\t",num**2)
  num=num+1

numbers	squares
1 	 1
2 	 4
3 	 9
4 	 16
5 	 25
6 	 36
7 	 49
8 	 64
9 	 81
10 	 100

In [ ]:
#answers
num = 1
print("Numbers\t\t\tSquares")
while(num<=10):
   print(num,"\t\t\t", num ** 2)
   num = num + 1

Numbers			Squares
1 			 1
2 			 4
3 			 9
4 			 16
5 			 25
6 			 36
7 			 49
8 			 64
9 			 81
10 			 100

In [ ]:
num=3
num1=num**2
print(num1)

9

In [ ]:
'''Q3. Write for loop statement to print the following series:
10, 20, 30 … … 300'''



num=0
while num<=300:
  num=num+10
  print(num,end=",")

10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,230,240,250,260,270,280,290,300,310,

In [ ]:
'''Q4. Write a while loop statement to print the following series
105, 98, 91 ………7.'''

num=105
while num>=7:
  print(num)
  num=num-7

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

In [ ]:
'''Q5. Write a program to print first 10 natural number in reverse order using while loop.
Show Answer'''


num=10
while num>=1:
  print(num)
  num=num-1

10
9
8
7
6
5
4
3
2
1

In [ ]:
'''Q6. Write a program to print sum of first 10 Natural numbers.'''

num=10
sum=0
while num>=1:
  sum=sum+num
  num=num-1
print(sum)

55

In [ ]:
'''Q7. Write a program to print sum of first 10 Even numbers.'''


num=2
sum=0
while num<=20:
  sum=sum+num
  num=num+2
print(sum)

110

In [ ]:
'''Q8. Write a program to print table of a number entered from the user.'''

i = 1
num = int(input("Enter any number"))
while i <= 10:
    print(num," * ",i,"  =  ", num * i)
    i = i+1

Enter any number5
5  *  1   =   5
5  *  2   =   10
5  *  3   =   15
5  *  4   =   20
5  *  5   =   25
5  *  6   =   30
5  *  7   =   35
5  *  8   =   40
5  *  9   =   45
5  *  10   =   50

In [ ]:
'''Q9. Write a program to find the sum of all even numbers that falls between two numbers (exclusive both numbers) 
entered from the user using while loop.'''

num1=int(input("enter first number"))
num2=int(input("enter second number"))
if num1>num2:
  while(num1>num2):
   if num2%2==0:
     print(num2)
   num2=num2+1
else:    
  while(num1<num2):
    if num1%2==0:
      print(num1)
    num1=num1+1

enter first number27
enter second number1
2
4
6
8
10
12
14
16
18
20
22
24
26

In [ ]:
num1=int(input("enter first number"))
num2=int(input("enter second number"))
while(num1>num2):
  if num2%2==0:
    print(num2)
  num2=num2+1  
while(num1<num2):
  if num1%2==0:
    print(num1)
  num1=num1+1

enter first number27
enter second number1
2
4
6
8
10
12
14
16
18
20
22
24
26

In [ ]:
'''Q10. Write a program to check whether a number is prime or not using while loop.'''

num1 = int(input("Enter any number : "))
k=0
if num1 == 0 or num1 == 1:
    print("Not a prime number ")
else:
   i = 2
   while(i<num1):
     if num1 % i == 0:
       k = k+1
     i = i+1
if k == 0 :
        print( num1,"is prime number")
else:
        print(num1, "is not prime number")

Enter any number : 11
11 is prime number

In [ ]:
'''Q11. Write a program to find the sum of the digits of a number accepted from the user.'''


num1=int(input("Enter a  number"))
num2=int(input("Enter a  number"))
num3=int(input("Enter a  number"))
num4=int(input("Enter a  number"))

sum=num1+num2+num3+num4
print(sum)

Enter a  number2
Enter a  number3
Enter a  number4
Enter a  number5
14